{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "welcome"}} - {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "body"}}
<div class="container" style="width: 500px;">
    <h3>{{i18n .Lang "set_profile"}}</h3>
    <br>
    <form action="/login" method="get" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "username"}}: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" id="uname" name="uname" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "password"}}: </label>
            <div class="col-md-5">
                  <input type="password" class="form-control" id="p_passwd" name="p_passwd">
                  <input type="hidden" class="form-control" id="passwd" name="passwd">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">{{i18n .Lang "login"}}</button>
            </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "username"}}: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" id="runame" name="runame" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "password"}}: </label>
            <div class="col-md-5">
                  <input type="password" class="form-control" id="passwd" name="passwd">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{i18n .Lang "confirm_password"}}: </label>
            <div class="col-md-5">
                  <input type="password" class="form-control" id="confirm" name="confirm">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button id="registerbtn" type="reset" class="btn btn-info">{{i18n .Lang "register"}}</button>
            </div>
        </div>

    </form>

</div>
{{end}}
